<div class="root-content">
  <h1 class="title"><%= t('app.title') %></h1>
  <div class="row">
    <%= link_to 'NEW GAME', new_game_path, class: 'btn' %>
  </div>
 <div class="row">
  <form action="<%= find_game_path %>">
     <input type="text" name="id" class="input">
   </form>
 </div>
</div>
