<div class="root-content">
  <h1 class="title">Hi, <span class="inline-input" id="playerName" contenteditable="true">You</span>!</h1>
  <div class="row">
    <%= link_to 'Play', new_game_path, class: 'btn' %>
  </div>
</div>
